# Ignore compiled binaries, build artifacts, and output directories
bin/
engines/**/hello
engines/**/*.class
engines/**/*.rs.d
engines/**/*.o
engines/**/*.hi
engines/**/*.mod
engines/**/*.exe
node_modules/
.DS_Store